<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Con mèo kêu mew mew mew mew</h1>
    <div id="root"></div>
    <script src="bundle.js"></script>
</body>
</html>