<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bai 15 - Bai tap 1</title>
        <script src="lib/react.js"></script>
        <script src="lib/react-dom.js"></script>
        <script src="lib/browser.min.js"></script>
    </head>
    <style>
        .mauvang{background-color: yellow}
    </style>
    <body>
        <div id="root"></div>
        <script src="js/bai15.js" type="text/babel"> </script>
    </body>
</html>